.signUpBox 
	margin 25px
	width auto
	text-align right
	display table


.signUpInput 
	border-radius 6px
	border thin solid silver
	width 300px
	height 1.8em
	margin-left 35px
	padding-left 5px

.formLabel 
	width 100px
	vertical-align middle
	display table-cell

.cityLabel 
	width 175px

.stateLabel 
	width 40px

.stateForm 
	display inline
	margin-left 10px

.newsletterButton 
	width auto

.newsletter 
	margin-left 150px

.checkBox 
	margin-right 10px


.submitButton 
	border none
	background-color silver
	width 300px
	height 38px
	border-radius 6px
	margin-left 160px
	margin-top 30px

.is-valid
	color yellowgreen
	margin-left 30px

.is-invalid
	color crimson
	margin-left 30px

.is-valid-box
	box-shadow 0px 0px 8px yellowgreen

.is-invalid-box
	box-shadow 0px 0px 8px crimson

.searchBackground
	background-color gainsboro
	border-radius 15px
	max-width 100%
	padding 10px
	vertical-align middle
	overflow auto

.searchBarInput
	float left
	width 70%
	margin-bottom 5px
	margin-left 0px
	

.searchLabel
	float left
	margin-top 8px

.searchSubmit
	margin-top 1px
	background-color lightcoral
	color white
	margin-left 15px
	border none
	border-radius 5px
	padding 7px 15px 7px 15px
	font-size .85em

.omniBox
	border 1px solid rgba(0,0,0,.3)
	border-radius 5px
	height 30px
	width 500px

.omniList
	float left
	color white
	background-color #8C7AFF
	font-size 13px
	border-radius 3px
	margin .5%
	max-width 115px
	height 18px
	position relative
	right 40px
	top 3px
	padding-top 2px

.omniBox
	ul
		list-style: none;

.omniBox
	ul
		li
			a	
				text-decoration none
				background-color MediumSlateBlue
				color #C8BFFF
				border-radius 2px
				margin 3%
				padding-right 2%
				padding-left 3%
				padding-bottom 1px
				position relative
				right 1px

.omniBox
	input
		border none
		font-size 18px
		opacity .8
		position relative
		top 3px
		right 35px


.starNum
	float right
	display inline
	margin-right 0px
	color #333
	text-align right
	font-size 0.8em
	height 2em

.starNum:after
	content " ★"
	color grey


.chunkyList

	list-style-image url('repo.png')
	width 500px
	

.chunkyListItem
	border thin solid gainsboro
	list-style-image url('repo.png')
	list-style-position inside
	padding 5px
	height 50px


.chunkyTitle
	font-size 0.9em
	font-weight bold
	margin-left 5px

a
	text-decoration none

.chunkyText
	color #333
	font-size 0.8em
	margin-left 30px
	overflow hidden
	width 370px
	text-overflow ellipsis
	white-space nowrap

.chunkyHeading
	background-color gainsboro
	margin-left 40px
	height 20px
	width 480px
	padding 10px
	font-size 0.75em

.chunkyIcon:before
	content url('repo.png')
	float left
	padding 0px 10px 5px 10px
	margin-top 5px

.chunkyTable
	margin-left 35px
	






